.inputusername {
  max-width: 550px;
  margin: auto;
  margin-top: 200px;
  padding: 30px;
  padding-top: 10px;
  background-color:none; 
  opacity: 0.8;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 1);
  color: black;
  text-align: center;
  justify-content: center;
}

.titre{
  padding-bottom: 20px;
}

#userform {
  margin-top : 20px;
}